{% extends 'catalog/base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% load static %}


<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Категории</h3>
					<div class="sidebar">
						<li class="selected">
							<a href="{% url 'catalog:store'%}">Все товары</a>
                		</li>

						{% for c in categories %}

						<li {% if category.slug == c.slug %}class="active"{% endif %}>
                    		<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                		</li>
						{%endfor%}

					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Цена</h3>
					<div class="price-filter">
						<div id="price-slider"></div>
						<div class="input-number price-min">
							<input id="price-min" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
						<span>-</span>
						<div class="input-number price-max">
							<input id="price-max" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title"></h3>
					<div class="checkbox-filter">
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Лидеры продаж</h3>
					{% for product in products %}
					<div class="product-widget">
						<div class="product-img">
							<img src="{{product.image.url}}" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">{{product.category}}</p>
							<h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{product.name}}</a></h3>
							<h4 class="product-price">{{product.price}}р. <del class="product-old-price">{{product.price_old}}р.</del></h4>
						</div>
					</div>
				{%endfor%}
				</div>
				<!-- /aside Widget -->
			</div><h3>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h3>
			<!-- /ASIDE -->

			<!-- STORE -->
			<div id="store" class="col-md-9">

				<!-- store products -->
				<div class="row">
					<!-- product -->
					{% for product in products %}
					<div class="col-md-4 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="{{product.image.url}}" alt="">
								<div class="product-label">
									<!-- <span class="sale">-10%</span> -->
									<!-- <span class="new">NEW</span> -->
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">{{product.category}}</p>
								<h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{product.name}}</a></h3>
								<h4 class="product-price">{{product.price}}р. <del class="product-old-price">{{product.price_old}}р.</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button onclick="window.location.href = '{{ product.get_absolute_url }}';" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">ОПИСАНИЕ</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<form action="{% url 'cart:cart_add' product.id %}" method="post" >
										{{ cart_product_form }}
										{% csrf_token %}
									<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> В КОРЗИНУ</button>
								</form>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /product -->
				<!-- /store products -->

			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
</div>
{% endblock %}